{% extends "base.html.twig" %}

{% block body %}
    <h1>Player Hand</h1>
    {% for card in cards %}
        <img src="{{ asset('img/cards/' ~ card) }}" alt="">
    {% endfor %}

    {% if playerHand.getTotalValue() > 21 %}
        <h2>You lost!</h2>
    {% else %}
        <a href="{{ path('board') }}?draw=true" class="btn btn-primary">Add Card</a>
    {% endif %}
{% endblock %}
