{% extends "base.html.twig" %}
{% block body %}
<body class="home">
    <div class="about">
        <div class="about-content">
            <h1>Kursen MVC</h1>
            <p>Kursen MVC handlar om objektorienterad programmering med PHP. I kursen arbetar vi med Symfony, ett webbaserat ramverk. Kursens <a href="https://github.com/dbwebb-se/mvc/">Repo</a> och min <a href="https://github.com/endriih/report">Github</a>.</p>
        </div>
        <img src="{{ asset('img/phpsymf.png') }}" alt="">
    </div>
</body>
{% endblock %}