{% extends "base.html.twig" %}

{% block body %}
<body class="home">
    <div class="hero">
        <div class="hero-content">
            <h1>Hello Visitor,<br>I'm Endri <span style="color: orange;">Haziri</span></h1>
            <p>Programming student.</p>
            <a href="{{ path('about') }}">About course</a>
        </div>
        <img src="{{ asset('img/chibibibi.png') }}" alt="">
    </div>
</body>
{% endblock %}