{% extends 'base.html.twig' %}

{% block body %}
    <p><strong>Title:</strong> {{ book.title }}</p>
    <p><strong>Name:</strong> {{ book.name }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Image:</strong> {{ book.image }}</p>
{% endblock %}
